<h1>Inbox</h1>

<table>
  <tr>
  	<th>Recipient</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Sender ID</th>
    <th>Recipient ID</th>
  </tr>
 
  <% @messages.each do |m| %>
  <tr>
  	<td><%= m.tutor.user.fullname %></td>
    <td><%= m.subject %></td>
    <td><%= m.body %></td>
    <td><%= m.user_id %></td>
    <td><%= m.recipient_id %></td>
  </tr>
  <% end %>
</table>
