<% title t '.title' %>
<h1><%= t '.title' %></h1>
 
<table>
  <tr>
    <th><%= t 'activerecord.attributes.message.subject' %></th>
    <th><%= t 'activerecord.attributes.message.body' %></th>
    <th><%= t 'activerecord.attributes.message.sender' %></th>
    <th><%= t 'activerecord.attributes.message.recipient' %></th>
    <th><%= t 'activerecord.attributes.message.submitted' %></th>
  </tr>
 
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.subject %></td>
      <td><%= message.body %></td>
      <td><%= message.sender_id %></td>
      <td><%= message.recipient_id %></td>
      <td><%= message.created_at %></td>
    </tr>
  <% end %>
</table>