<% title t '.title' %>
<h1><%= t '.title' %></h1>
 
<table>
  <tr>
    <th><%= t :subject, scope: 'activerecord.attributes.message' %></th>
    <th><%= t :body, scope: 'activerecord.attributes.message' %></th>
    <th><%= t :sender, scope: 'activerecord.attributes.message' %></th>
    <th><%= t :recipient, scope: 'activerecord.attributes.message' %></th>
    <th><%= t :submitted, scope: 'activerecord.attributes.message' %></th>
  </tr>
 
  <% @messages.each do |message| %>
    <tr>
      <td><%= link_to(message.subject, message) %></td>
      <td><%= message.body %></td>
      <td><%= message.sender_id %></td>
      <td><%= message.recipient_id %></td>
      <td>
      	<%= i18n_distance_of_time_in_words_to_now_with_ago(message.created_at) %>
      </td>
    </tr>
  <% end %>
</table>