<% title t '.title' %>
<h1><%= t '.title' %></h1>
 
<table>
  <tr>
    <th>Subject</th>
    <th>Body</th>
    <th>Sender</th>
    <th>Recipient</th>
  </tr>
 
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.subject %></td>
      <td><%= message.body %></td>
      <td><%= message.sender_id %></td>
      <td><%= message.recipient_id %></td>
    </tr>
  <% end %>
</table>