<%= form_for([@tutor, @message]) do |m| %>
  <p>
    <%= m.label :subject %><br>
    <%= m.text_field :subject %>
  </p>
 
  <p>
    <%= m.label :body %><br>
    <%= m.text_area :body %>
  </p>
 
  <p>
    <%= m.submit %>
  </p>
<% end %>