<% title t '.title' %>
<h1><%= t '.title' %></h1>

<%= render "errors" %>

<%= form_for @message, url: messages_path(recipient_id: params[:recipient_id]) do |m| %>
  <p>
    <%= m.label :subject %><br>
    <%= m.text_field :subject %>
  </p>
 
  <p>
    <%= m.label :body %><br>
    <%= m.text_area :body %>
  </p>
 
  <p>
    <%= m.submit %>
  </p>
<% end %>

<%= link_to 'Back', :back %>
