<p>
	<strong>Subject</strong>
	<%= @message.subject %>
</p>
<p>
	<strong>Body:</strong>
	<%= @message.body %>
</p>
<p>
	<strong>Sender:</strong>
	<%= @message.user_id %>
</p>
<p>
	<strong>Recipient:</strong>
	<%= @message.tutor_id %>
</p>
<%= link_to 'Back', tutor_messages_path %>