<p>
	<% if flash[:error] %>
		<%= flash[:error] %>
	<% elsif flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
	
	<% if @tutor.errors.any? %>
	<%= flash[:error] %><br />
	<%= pluralize(@tutor.errors.count, 'error')%>
	prevented this tutor form from being saved:
	<ul>
		<% @tutor.errors.full_messages.each do |message| %>
  		<li><%= message %></li>
  		<% end %>
 	 </ul>
	<% end %>
</p>