<% title 'Edit Tutor'%>

<p>
	<% if @tutor.errors.any? %>
	<%= flash[:error] %><br />
	<%= pluralize(@tutor.errors.count, 'error')%>
	prevented this tutor form from being saved:
	<ul>
		<% @tutor.errors.full_messages.each do |message| %>
  	<li><%= message %></li>
  	<% end %>
  </ul>
	<% end %>
</p>

<%= form_for @tutor do |f| %>
  <%= f.label :description, 'Description' %><br />
	<%= f.text_area :description %><br />
	
	<%= f.label :rate, 'Rate' %><br />
	<%= f.text_field :rate %><br />
	
	<%= country_select(:tutor, :country) %><br />
  
  <%= f.submit "Submit" %>
<% end %>