<% title t '.title' %>
<h1><%= t '.title' %></h1>

<%= render "errors" %>

<%= paginate @tutors %>

<table class="table table-hover table-bordered table-striped">
	<tr>
		<th><%= t('.tutor_name') %></th>
		<th><%= table_sort('rate', t(:rate, scope: 'activerecord.attributes.tutor') ) %></th>
		<th><%= table_sort('country', t(:country, scope: 'activerecord.attributes.tutor') ) %></th>
		<th><%= t(:description, scope: 'activerecord.attributes.tutor') %></th>	
	</tr>
	
	<% @tutors.each do |tutor| %>
	<tr>
		<td>
			<strong>
				<%= link_to tutor.user.fullname, new_message_path(:recipient_id => tutor) %>
			</strong>
		</td>
		<td><%= tutor.rate %></td>
		<td><%= tutor.country %></td>
		<td><%= tutor.description %></td>
	</tr>
	<% end %>
</table>

<%= paginate @tutors %>
