<% title t '.title' %>
<h1><%= t '.title' %></h1>

<p>
<% if @tutor %>
	<%= link_to 'Edit Tutor Info', edit_tutor_path(@tutor) %>
<% else %>
	<%= link_to 'Become a tutor', new_tutor_path %>
<% end %>
</p>

<%= render "errors" %>

<%= paginate @tutors %>
<table>
	<tr>
		<th>Name</th>
		<th><%= table_sort( :rate, t('activerecord.attributes.tutor.rate') ) %></th>
		<th><%= table_sort( :country, t('activerecord.attributes.tutor.country') ) %></th>
		<th><%= t 'activerecord.attributes.tutor.about' %></th>	
	</tr>
	
	<% @tutors.each do |tutor| %>
	<tr>
		<td><strong><%= link_to tutor.user.fullname, new_message_path(:recipient_id => tutor) %></strong></td>
		<td><%= tutor.rate %></td>
		<td><%= tutor.country %></td>
		<td><%= tutor.description %></td>
	</tr>
	<% end %>
</table>

<%= paginate @tutors %>
