<% title 'Tutors List' %>
<h1>Tutors#index</h1>

<%= paginate @tutors %>

<table>
	<tr>
		<th>Name</th>
		<th><%= table_sort 'rate' %></th>
		<th><%= table_sort 'country' %></th>
		<th>About</th>	
	</tr>
	
	<% @tutors.each do |tutor| %>
	<tr>
		<td><strong><%= link_to "#{tutor.user.fullname}", new_tutor_message_path(tutor) %></strong></td>
		<td><%= tutor.rate %></td>
		<td><%= tutor.country %></td>
		<td><%= tutor.description %></td>
	</tr>
	<% end %>
</table>

<%= paginate @tutors %>
<br />
<% if @tutor %>
	<%= link_to 'Edit Tutor', edit_tutor_path(@tutor) %>
<% else %>
	<%= link_to 'Become a tutor', new_tutor_path %>
<% end %>
