<% title t '.title' %>
<h1><%= t '.title' %></h1>

<%= render "errors" %>

<%= form_for @tutor do |f| %>
  <%= f.label :description, t('description', scope: 'activerecord.attributes.tutor') %><br />
	<%= f.text_area :description %><br />
	
	<%= f.label :rate, t('rate', scope: 'activerecord.attributes.tutor') %><br />
	<%= f.text_field :rate %><br />
	<br />
	<%= t('current_country', scope: 'globals') %><br />
	<%= country_select(:tutor, :country) %><br />
	<br />
	<%= f.label :city %>
	<%= f.text_field :city %><br />
	<br />
	<%= f.label :address %>
	<%= f.text_field :address %><br />
	<br />
	
	<%= f.label :educational_experiences, t(:education, scope: 'activerecord.attributes.tutor') %>	
	<%= f.fields_for :educational_experiences do |builder| %>
		<%= render 'educational_experience_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add field", f, :educational_experiences %>
	<br />
	
  <%= f.submit "Submit" %>
<% end %>
<%= link_to 'Back', tutors_path %>
