<% title t '.title' %>
<h1><%= t '.title' %></h1>

<p>
	<%= flash[:success] %>
</p>

<div>
	<strong>Description:</strong> <%= @tutor.description%><br />
	<strong>Rate:</strong> <%= @tutor.rate %><br />
	<strong>Country:</strong> <%= @tutor.country %>
</div>

<%= render "footer_links" %>