<% title t '.title' %>
<h1><%= t '.title' %></h1>

<p>
	<%= flash[:success] %>
</p>

<div>
	<strong><%= t(:description, scope: 'activerecord.attributes.tutor') %></strong> <%= @tutor.description%><br />
	<strong><%= t(:rate, scope: 'activerecord.attributes.tutor') %></strong> <%= @tutor.rate %><br />
	<strong><%= t(:country, scope: 'activerecord.attributes.tutor') %></strong> <%= @tutor.country %>
	<p>
		<p>
			<%= t(:education, scope: 'activerecord.attributes.tutor') %>
		</p>
		<% @educational_experiences.each do |education| %>
			<strong><%= t(:university, scope: 'activerecord.attributes.educational_experiences') %>:</strong> <%= education.university %><br />
			<strong><%= t(:major, scope: 'activerecord.attributes.educational_experiences') %>:</strong> <%= education.major %><br />
			<strong><%= t(:minor, scope: 'activerecord.attributes.educational_experiences') %>:</strong> <%= education.minor %><br />
		<% end %>
	</p>
</div>

<%= render "footer_links" %>