<% title t '.title' %>
<h1><%= t '.title' %></h1>

<p>
	<%= flash[:success] %>
</p>

<div>
	<strong><%= t(:description, scope: 'activerecord.attributes.tutor') %></strong> <%= @tutor.description%><br />
	<strong><%= t(:rate, scope: 'activerecord.attributes.tutor') %></strong> <%= @tutor.rate %><br />
	<strong><%= t(:country, scope: 'activerecord.attributes.tutor') %></strong> <%= @tutor.country %><br />
	<strong>Address:</strong> <%= @tutor.address %><br />
	<p>
		<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x450&sensor=false&zoom=16&markers=#{@tutor.latitude}%2C#{@tutor.longitude}" %>
		<p>
			<%= t(:education, scope: 'activerecord.attributes.tutor') %>
		</p>
		
		<% if @educational_experiences %>
		<table class="table table-bordered table-striped table-condensed">
			<tr>
				<td><strong><%= t(:university, scope: 'activerecord.attributes.educational_experiences') %></strong></td>
				<td><strong><%= t(:major, scope: 'activerecord.attributes.educational_experiences') %></strong></td>
				<td><strong><%= t(:minor, scope: 'activerecord.attributes.educational_experiences') %></strong></td>
			</tr>
			<% @educational_experiences.each do |education| %>
			<tr>
				<td><%= education.university %></td>
				<td><%= education.major %></td>
				<td><%= education.minor %></td>
			</tr>
			<% end %>
		</table>
		<% end %>
		
		
		<% if @languages %>
		<table class="table table-bordered table-striped table-condensed">
		<tr>
			<td><strong><%= t(:language, scope: 'activerecord.attributes.languages') %></strong></td>
			<td><strong><%= t(:proficiency, scope: 'activerecord.attributes.languages') %></strong></td>
		</tr>
			<% @languages.each do |lang_info| %>
			<tr>
				<td><%= lang_info.language %></td>
				<td><%= parse_proficiency(lang_info.proficiency) %></td>
			</tr>
			<% end %>	
		</table>
		<% end %>
		
</div>

<%= render "footer_links" %>