<% title 'Show Tutor' %>
<p>
	<%= flash[:success] %>
</p>

<br /><br />
<div>
	<%= @tutor.description%>, Rate: <%= @tutor.rate %><br />
	<%= @tutor.country %>
</div>
<p>
	<%= link_to 'Edit Tutor', edit_tutor_path(@tutor) %>
</p>