<% title 'Show Tutor' %>
<p>
	<%= flash[:success] %>
</p>

<br /><br />
<div>
	<strong>Description:</strong> <%= @tutor.description%><br />
	<strong>Rate:</strong> <%= @tutor.rate %><br />
	<strong>Country:</strong> <%= @tutor.country %>
</div>
<p>
	<%= link_to 'Back', tutors_path %> |
	<%= link_to 'Edit Tutor', edit_tutor_path(@tutor) %> |
	<%= link_to 'Destroy Tutor', tutor_path(@tutor), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>