<% title 'Users List' %>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if current_user.tutor %>
	Current user is a tutor
<% else %>
	Current user is not a tutor
<% end %>

<ol>
<% @users.each do |user| %>
	<li>
		<strong><%= user.first_name %> <%= user.last_name %></strong>
		<ul>
			<li><%= image_tag user.avatar_url.to_s %></li>
			<li><%= user.email %></li>
			<li><%= user.gender %></li>
			<li><%= user.birthday %></li>
			<li>Is a tutor: <%= user.is_tutor %></li>
		</ul>
	</li>
<% end %>
</ol>

<% @tutors.each do |tutor| %>
	<br />
	<%= tutor.description%>, Rate: <%= tutor.rate %>
<% end %>
