<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to t('website.name'), :root, :class => "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
    <ul class="nav navbar-nav navbar-right">
    	
    	<%= render 'common/nav_mail' %>
      
      <li class="dropdown">
      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	<span class="glyphicon glyphicon-globe"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
        	<li><%= link_to t('language.en'), locale: 'en' %></li>
					<li><%= link_to t('language.ja'), locale: 'ja' %></li>
					<li><%= link_to t('language.ko'), locale: 'ko' %></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	<span class="glyphicon glyphicon-cog"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
        	<% if user_signed_in? %>
        		<li><%= link_to 'List Users', users_index_path %></li>
						<li><%= link_to 'List Tutors', tutors_path %></li>
						<li><%= link_to_unless_current 'Edit profile', edit_user_registration_path %></li>
						<% if current_user.is_tutor? %>
							<li><%= link_to_unless_current 'My tutor profile', tutor_path(current_user.tutor) %></li>
							<li><%= link_to_unless_current 'Edit Tutor Info', edit_tutor_path(current_user.tutor) %></li>
						<% else %>
							<li><%= link_to_unless_current 'Become a tutor', new_tutor_path %></li>
						<% end %>
						<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to 'Sign up', new_user_registration_path %></li>
						<li><%= link_to 'Login', new_user_session_path %></li>
					<% end %>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>
