<!DOCTYPE html>
<html>
<head>
  <title>
  	<% if content_for? :title %>
  		<%= yield :title %>
  	<% else %>
  		Taki
  	<% end %>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
	Logged in as <strong><%= current_user.email %></strong>.
	<%= link_to 'Edit profile', edit_user_registration_path %>
	<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to 'Sign up', new_user_registration_path %> |
	<%= link_to 'Login', new_user_session_path %>
<% end %>

<%= yield %>

<p>
	<%= link_to 'Home', :root %> |
	<%= link_to 'About', :home_about %> |
	<%= link_to 'List Users', :users_show %>
</p>

</body>
</html>
